.boardContainer {
  border: 1px solid black;
}

.food {
  height: 16px;
  width: 16px;
  background-color: red;
  position: absolute;
}

.score {
  position: absolute;
  top: 20px;
}

.trayAgainButton {
  background-color: green;
  color: white;
  width: 100px;
  height: 50px;
}